<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <style>
  h1 {
    color : blueviolet;
    font-family : verdana;
    font-size : 280%;
  } 
  p {
    color : rgb(144, 96, 189);
    font-family : courier;
    font-size : 150%;
  }     


  #key {
    color : rgb(50, 68, 233);
    font-family: Arial, Helvetica, sans-serif;
  }


  #key1 {
    color: rgb(110, 191, 223);
    font-family: Arial, Helvetica, sans-serif;
  }

  .ani {
    color: rgb(216, 118, 211);
    font-family: Arial, Helvetica, sans-serif;
  }



  </style>
  </head>
  <body style="background-color: #7A85C1;">
    <h1 style="color: rebeccapurple;">This is a heading</h1>
    <p style="color: bisque;">This is a paragraph.</p>

    <h2 id="key">This is a heading with an id</h2>
    <h3 id="key">This is a heading with an id</h3>

    <div>
        <h1 id="key1">This is a header with an id</h1> 
        <h2 class="ani">This is a heading with an id</h2>
    </div>
  </body>

  <footer>

  </footer>
</html>
